*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-family: 'Courier New', Courier, monospace;
}

body {
    padding: 0 10px;
    background: #47d3ba;
    color: #000000;
}

/* Scrollable block */
/*--------------------------------*/
.scrollable-block {
    padding-top: 30px;
    text-align: center;
}

/* Banners */
/*--------------------------------*/
.carousel {
    position: relative;
    width: 100%;
    max-width: 1600px;
    padding: 0;
    margin: 0 auto;
}

.carousel__title {
    font-size: 2rem;
    font-weight: 500;
    padding: 3% 0 2% 2%;
}

.carousel__track {
    position: relative;
    aspect-ratio: 1.3;
}

.carousel__track,
.carousel__track * {
    user-select: none;
    touch-action: none;
    cursor: grab;
}

body:has(.carousel__track:active),
.carousel__track:active,
.carousel__track:active * {
    cursor: grabbing;
}

.carousel__item {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    border-radius: 23px;
    transform-origin: 50% 100%;
    z-index: calc(var(--i, 0) * -1);
    opacity: 0;
    transform: scale(1) translateY(0%);
}

.carousel__item picture {
    width: 100%;
    display: block;
}

.carousel__item img {
    width: 100%;
    max-width: 100%;
    pointer-events: none;
}

@media screen and (min-width: 761px) {
    .carousel__title {
        font-size: 4rem;
    }

    .carousel__track {
        aspect-ratio: 2.72;
    }
}